{% extends 'base.html' %}

{% block heading %} Gwybodaeth {% endblock %}

{% block content %}

<p>Statws: beta</p>
<p>
    <a href="https://github.com/dimbyd/ceibwrapp">
        <code>https://github.com/dimbyd/ceibwrapp</code>
    </a>
</p>

<h4>Côd</h4>
Mae'r wefan yn defnyddio'r meddalwedd côd-agored <code>ceibwr</code> a'r gronfa <code>cerddi</code>.
<br/>
<p>
    <a href="https://github.com/dimbyd/ceibwr">
        <code>https://github.com/dimbyd/ceibwr</code>
    </a>
<br/>
    <a href="https://github.com/dimbyd/cerddi">
        <code>https://github.com/dimbyd/cerddi</code>
    </a>
</p>
<br/>

<h4>ebost</h4>
<p><a href="mailto:cowboisceibwr@gmail.com"><code>cowboisceibwr@gmail.com</code></a></p>

<br/>

<h4>Ymwadiad</h4>

<p>Er i Cowbois Ceibwr gymryd pob gofal rhesymol wrth ddarparu'r wefan hon, ni all Cowbois Ceibwr fod yn gyfrifol am gamgymeriadau, ansawdd na chywirdeb gwybodaeth a deunydd arall a ddarperir ar y wefan.
Mae Cowbois Ceibwr yn cadw'r hawl i wneud newidiadau i'r wefan yn ddirybudd.</p>

<p>Nid yw deunydd sydd ar gael ar y wefan hon yn sail i unrhyw gontract gyda'r sawl sy'n ei ddarllen a'i ddefnyddio. Ni fydd Cowbois Ceibwr yn atebol ar unrhyw achlysur am golled neu ddifrod i unrhyw unigolyn, yn uniongyrchol neu'n anuniongyrchol, sy'n defnyddio neu'n dibynnu ar unrhyw ddeunydd a ddarperir ar y wefan hon.</p>

<p>Nid yw Cowbois Ceibwr yn gyfrifol am gynnwys, cyflwyniad a dolenni unrhyw safleoedd Rhyngrwyd allanol y cysyllto â nhw gan gynnwys tudalennau allanol sydd yn cysylltu â'r wefan hon, neu'r rhai a grëwyd gan unrhyw sefydliad arall cysylltiedig â Cowbois Ceibwr neu nad yw'n gysylltiedig â Cowbois Ceibwr.</p>

<p>Ni all Cowbois Ceibwr warantu y bydd y dolenni hyn ar gael bob amser.</p>

<br/>

<h4>Datganiad Hawlfraint</h4>
<p>Oni nodir fel arall mae hawlfraint yr holl ddeunydd a gyhoeddir ar y wefan hon yn eiddo i Cowbois Ceibwr. Cedwir pob hawl.</p>

<br/>
<h4>Cyfranwyr</h4>
<ul>
    <li> DE (Trewyddel) </li>
    <li> ET (Pontarddulais) </li>
    <li> LlD (Pontardawe)</li>
    <li> NL (Abertawe) </li>
    <li> RE (Caerdydd) </li>
</ul>

{% endblock %}