{% extends 'base.html' %}

{% block heading %} Cleciadur {% endblock %}

{% block content %}
<p>Araf ac amherffaith ... ac yn difetha egin feirdd.</p>

<!-- <p><strong>Rhybudd!!</strong> Mae defynddio cleciadur yn diffetha egin feirdd. <strong>You have been warned!!</strong></p> -->

<form method="post">
    <div class="form-group">
        <input type="text" name="ymholiad"
               placeholder="Teipiwch fan hyn"
               value="{{ request.form['ymholiad'] }}"
               size="20"></input>
    </div>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Clecs</button>
    </div>
</form>

<br/>

<div class="allbwn">
{% if context.clecs %}
    {%- for key in ['CAC', 'CDI', 'ADI', 'AAC'] -%}
        {%- if context.clecs[key] -%}
            <div>
            {{ context.llythrenwau[key] }}
            <div class="rhestr-geiriau"><code>
            {%- for g in context.clecs[key] -%}
                {{ g }}&#32;
            {%- endfor -%}
            </code></div>
            </div>
            <br/>

        {%- endif -%}
    {%- endfor -%}
{% endif %}
</div>

{% endblock %}