{% extends 'base.html' %}

{% block heading %} Datrys {% endblock %}

{% block content %}
<p>Cynnig ar ddatrys llinellau, penillion a cherddi (amherffaith).</p>

<form method="post">

    <div class="form-group">
        <textarea name="mewnbwn" placeholder="Teipiwch fan hyn" rows=7
                class="form-control">{{ request.form['mewnbwn'] }}</textarea>
    </div>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Datrys</button>
    </div>
</form>

<br/>
{%- include "profion.html" -%}
<br/>

<div id="datrysiad"></div>

<br/>

{%- if context -%}

<br/>

{% if scroll %}
<script>
    document.getElementById('{{ scroll }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}

<br>
<h3>Datrysiad</h3>

<hr/>

{%- if context.meta.teitl -%}
<div>
    <pre>{{ context.meta.teitl }}<br/>
    {%- if context.meta.awdur -%} 
        {{ context.meta.awdur }}{%- endif -%}
</pre>
</div>
{%- else -%}
<br/>
{%- endif -%}

<h5><pre>
{%- if context.datrysiad.dosbarth -%}
    <span>{{ context.llythrenwau[context.datrysiad.dosbarth] }}</span>
{%- else -%}
    <span style="color:darkcyan">{{ context.llythrenwau[None] }}</span>
{%- endif -%}
</pre></h5>

<div class="tabl">
<table class="datrysiad">
    <thead>
        <tr style="border:1px solid; padding:15px">
            <th class="pennawd-llinell">Llinell</th>
            <th class="pennawd"><span data-bs-toggle="tooltip" title="Cynghanedd">CNG</span></th>
            <th class="pennawd"><span data-bs-toggle="tooltip" title="Nifer sillafau">NSI</span></th>
            <th class="pennawd"><span data-bs-toggle="tooltip" title="Aceniad">ACE</span></th>
            <th class="pennawd"><span data-bs-toggle="tooltip" title="Cytseinedd">CYT</span></th>
            <th class="pennawd-right-border"><span data-bs-toggle="tooltip" title="Odl fewnol">ODL</span></th>
            {%- if context.datrysiad.lefel() > 1 -%}
                <th class="pennawd"><span data-bs-toggle="tooltip" title="Cwpled">CWP</span></th>
                <th class="pennawd-right-border"><span data-bs-toggle="tooltip" title="Odl gwpled">ODL</span></th>
            {%- endif -%}
            {%- if context.datrysiad.lefel() > 2 or context.datrysiad is mesur -%}
                <th class="pennawd"><span data-bs-toggle="tooltip" title="Mesur">MES</span></th>
                <th class="pennawd"><span data-bs-toggle="tooltip" title="Prifodl">ODL</span></th>
            {%- endif -%}
            {%- if context.datrysiad.lefel() > 3 -%}
                <th class="pennawd"><span data-bs-toggle="tooltip" title="Awdl">AWD</span></th>
            {%- endif -%}
        </tr>
    </thead>
    {%- with node = context.datrysiad -%}
        {%- include "tabl.html" %}
    {%- endwith -%}
</table>
</div> 

 <br/>

IPA
<div class="uned">
    {%- if context.uned -%}
        {{ context.uned.ipa() }}
    {%- endif -%}
</div>

<br/>

STA
<div class="info">Nifer llinellau: {{ context.datrysiad.nifer_rhaniadau() }}
Nifer geiriau: {{ context.datrysiad.nifer_geiriau() }}
Nifer sillafau: {{ context.datrysiad.nifer_sillafau() }}
</div>

<br/>

TEXT
<div class="info">
{%- if context.xml_text -%}
    <pre>{{ context.xml_text }}</pre>
{%- endif -%}
</div>

<br/>

SAIN
<div class="info">
{%- if context.xml_sain -%}
    <pre>{{ context.xml_sain }}</pre>
{%- endif -%}
</div>

{%- endif -%}
{%- endblock -%}