{% extends 'base.html' %}

{% block heading %}Meddalwedd Gynganeddol{% endblock %}

{% block content %}
    <p>Gwefan <a href="/cc">arbrofol</a> yw hwn.</p>
    <ul>
        <li> <a href="/odliadur">Odliadur</a></li>
        <li> <a href="/cleciadur">Cleciadur</a> </li>
        <li> <a href="/datrys">Datrys</a> </li>
        <li> <a href="/pysgota">Pysgota</a> </li>
        <li> <a href="/darlunio">Darlunio</a> </li>
        <li> <a href="/dysgu">Dysgu</a> </li>
        <li> <a href="/cerddi">Cerddi</a> </li>
        <!-- <li> <a href="/cronfa">Cronfa</a> </li> -->
    </ul>
    <br/>
    <br/>

<div>
    <h5>Llyfryddiaeth</h5>
    <ul>
        <li>
            Anghenion y Gynghanedd. <i>Alan Llwyd</i>. Gwasg Prifysgol Cymru. 1973.
        </li>
        <li>
            Cerdd Dafod. <i>John Morris Jones</i>. Gwasg Prifysgol Cymru. 1925.
        </li>
        <li>
            Clywed Cynghanedd. <i>Myrddin ap Dafydd</i>. Gwasg Carreg Gwalch. 1994.
        </li>
        <li>
            Llawlyfr y Cynganeddion. <i>J.J. Evans</i>. Gwasg Prifysgol Cymru. 1951.
        </li>
    </ul>
</div>

<br/>

<!-- honeypot -->
<div style="display:none; height:0px; width:0px; overflow:hidden; visibility:hidden">
    <a href="/mefus">Mefus</a>
</div>

{% endblock %}
