
Profion
<table style="border:2px;">
    <tr>
        <td style="vertical-align:top;">
            Ochain cloch a chanu clir<br/>
            Ni all lladd ond ennyn llid<br/>
            Gwn ddifa lawer calon<br/>
            Bydd y dolydd yn deilio<br/>
            Trydar mwyn adar mynydd.
        </td>
        <td style="vertical-align:top;">
            Wele rith fel ymyl rhod - o'n cwmpas<br/>
            Campwaith dewin hynod.<br/>
            Hen linell bell nad yw'n bod<br/>
            Hen derfyn nad yw'n darfod.
        </td>
        <td style="vertical-align:top;">
            Dwyglust feinion aflonydd<br/>
            Dail saets wrth ei dâl y sydd<br/>
            Trwsio fal golewo glain<br/>
            Y bu wydrwr ei bedrain.
        </td>
        <td style="vertical-align:top;">
            Llwybr i dranc y lle bo'r drin,<br/>
            Diau, ni ddawr angau rin<br/>
            Na breiniau glew na brenin.
        </td>
        <!-- <td style="vertical-align:top;">
            Ni fu saer na'i fesuriad - yn rhoi graen,<br/>
            Ar grefft ei adeilad,<br/>
            Dim ond adar mewn cariad<br/>
            Yn gwneud tŷ heb ganiatâd.
        </td> -->
    </tr>
</table>  